p,
li{
    margin: 0;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}
ul[class],
ol[class] {
  list-style: none;
}

.maketforfigma{
    flex: 0 0 auto;
    background: #313a46;
    font-weight: bold;
    display: flex;
}
.maketforfigma img{
    border-radius: 10px;
    margin: 4px 0 0 4px;
}
.maketforfigma p {
    color: #98a6ad;
    text-decoration: none;
    letter-spacing: .01875rem;
    font-size: .775rem;
    padding: 0 10px;
    line-height: 0.70rem;
}
.maketforfigma p > a {
    color: #bbe4f0;
    font-weight: bold;
}
.maketforfigma p > a:hover {
    color: #ffffff
}
.main{
    flex: 1 0 auto;
    /***/
    
}
.ellipses{
    z-index: -1;
}
html{
    height: 100%;
}
/******************************************************************/
a{
    text-decoration: none;
}
:root{
    font-family: 'Oxanium', cursive;
    font-family: 'Work Sans', sans-serif;

    --white-txt: #F5FBF2;
    --orange: #FFCE4E;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: #1C121F;
}
.title{
    text-align: center;
    color: var(--white-txt);
    font-family: 'Oxanium', cursive;
    font-size: 64px;
    font-weight: 700;
    line-height: 200%;
}
.container {
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 5px;
}
.header{
    position: fixed;
    width: 100%;
    background-color: #1C121F;
    z-index: 100;
}
.header-container {
    padding-top: 35px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
/***************************/
.nav{
    width: 100%;
    background-color: rgb(28, 18, 31);
    z-index: 101;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}
.nav-blank{
    margin-left: 50px;
    margin-top: 40px;
}
.nav-blank a{
    color: var(--white-txt);
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.nav-blank > *{
    margin-bottom: 30px;
}
.nav-close img{
    margin-top: 60px;
    margin-left: 50px;
    height: 48px;
    width: 48px;
}
.nav.visible{
    transform: translateX(0%);
}
/**************************************/
.nav-link {
    color: var(--white-txt);
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-right: 64px;
    letter-spacing: 0.36px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}
.nav-link::after{
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background-color: var(--orange);
    bottom: 0;
    left: 0;
    color: var(--orange);
    transition: width 0.5s ease-in-out;
    margin-bottom: -8px;
    border-bottom: var(--orange) 1px solid;
}
.nav-link:hover::after{
    width: 100%;
}
.nav-link:hover{
    color: var(--orange);
}
.nav-burger{
    display: none;
}
.nav-burger img {
    height: 48px;
    width: 48px;
}
/* .nav-link:focus{
    color: var(--orange);
    padding-bottom: 8px;
    border-bottom: 2px solid var(--orange);
} */
.wallet {
    color: var(--orange);
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 21px 30px;
    border: 1px solid var(--orange);
    background-color: rgba(233, 215, 167, 0.10);
}

/****************HEEEERRRRRROOOO*********/
.hero{
    margin-top: 170px;

}
.hero-container {

    display: flex;
    align-items: center;
}
.hero-info__title {
    font-family: 'Oxanium', cursive;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: 153%;
    color: var(--white-txt);

    margin-right: 40px;
    margin-bottom: 77px;
}
.orange-txt {
    color: var(--orange);
}
.hero-buttons {
    display: flex;
    gap: 35px;
}
.btn-orange {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 257px;
    height: 84px;

    font-family: 'Work Sans', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 129%;
    color: #000;
    background: var(--orange);
    cursor: pointer;
}
.btn-tr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 257px;
    height: 84px;

    font-family: 'Work Sans', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 129%;
    color: #fff;
    border: 1px solid var(--orange);
    background: rgba(233, 215, 167, 0.10);
    cursor: pointer;
}
.hero-counts {
    margin: 120px 10px 0 0;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.count-num {
    color: var(--white-txt);
    font-family: 'Oxanium', cursive;
    font-weight: 700;
    font-size: 62px;
    margin: 0;
}
.count-txt {
    text-align: center;
    margin: 0;
    color: #9B9E9A;
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    line-height: 148%;
}
.hero-card > *{
    margin-left: 60px;
}
.hero-card-header {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin: 24px 80px;
    opacity: 0.95;
    opacity: 0.95;
    background: linear-gradient(93deg, rgba(255, 137, 61, 0.09) -52.37%, rgba(250, 250, 250, 0.90) 137.41%);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(22.5px);
    width: 512px;
    height: 98px;
}
.card-header-elem {
    z-index: 1;
}
.hero-card-header > * {
    margin: 18px 40px 0;
}
.card-header__title {
    color: var(--white-txt);
    font-family: 'Oxanium', cursive;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.44px;
    font-size: 18px;
}
.card-header__price {
    margin-top: 7px;
    font-size: 32px;
    font-family: 'Oxanium', cursive;
    color: #fff;
    font-weight: 700;
}
.hero-card-img {
    position: relative;
    z-index: 0;
}
.hero-card-footer {
    width: 558px;
    height: 142px;
    background: #fff;
    backdrop-filter: blur(13.5px);
    display: flex;
    align-items: center;
    justify-content: space-between;


    z-index: -1;
    margin-top: -100px;
}
.card-footer-elem {
    margin: 0 30px;
}
.card-footer__author {
    font-family: 'Oxanium', cursive;
    color: #16091B;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1.96px;
}
.card-footer__teg {
    color: #594D5E;
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
}
.elem-btn{
    z-index: 10;
    cursor: pointer;
}
.card-footer__btn {
    margin-right: -30px;
    cursor: pointer;
    z-index: 2;
    padding: 23px 45px;
    background-color: var(--orange);
    backdrop-filter: blur(22.5px);

    color: #000;
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.clients{
    margin-top: 200px;
}
.clients-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.clients-container > * {
    margin-right: 50px;
}

/*********************************************************************/
.auctions {
    padding: 80px 0;
    margin-top: 105px;
    background: linear-gradient(337deg, #251928 16.25%, rgba(37, 25, 40, 0.00) 91.6%);
}
.auctions-title {
    position: relative;
}
.purple{
    background: #8613A5;
}
.circle{
    position: absolute;
    right: 50%;
    margin-right: 170px;
    border-radius: 100%;
    height: 110px;
    width: 110px;

    transform: translateX(30%) translateY(0);
}
.bid-slider {
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
    margin-bottom: 42px;
}
.bid-slider > * {
    margin-right: 28px;
    cursor: pointer;
    
}
.bid-slider-elem{
    display: flex;
    overflow: hidden;
}
.bid-slider-elem > *{
    margin-left: 42px;
}
.bid-auctions, 
.explore-bid {
    background-color: #3D2942;
    width: 431px;
    height: 659px;
    padding: 32px 32px;
}
.bid-img {
    position: relative;
}
.bid-img img{
    width: 431px;
    height: 359px;
}
.bid-timer {
    position: absolute;
    bottom: 4px;
    opacity: 0.95;
    background: linear-gradient(125deg, #8613A5 18.61%, rgba(250, 250, 250, 0.65) 137.4%);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(22.5px);


    color: var(--white-txt);
    font-weight: 600;
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    padding: 15px 46px;
}
.bid-author {
    margin-top: 28px;
    /* display: flex; */
}

.bid-avatar {
    margin-right: 16px;
}
.bid-author__info {
    font-family: 'Work Sans', sans-serif;
    display: grid;
    grid-template-columns: 70px 1fr 1fr;
}
.author__info-name {
    color: var(--white-txt);
    font-size: 28px;
    font-weight: 500;
    line-height: 126%;
}
.author__info-creator {
    font-size: 20px;
    color: #BDAAC1;
    line-height: 177%;
}
.bid-likes {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.bid-likes__count {
    margin-left: 9px;
    font-family: 'Work Sans', sans-serif;
    color: #76607A;
    font-size: 32px;
    line-height: 110%;
}
.bid-price {
    margin-top: 28px;
    margin-bottom: 28px;
    display: flex;
    justify-content: space-between;
}
.bid-price__name {
    font-family: 'Work Sans', sans-serif;
    color: #C6BFC8;
    font-size: 24px;
    line-height: 147%;
}
.bid-price__price {
    font-family: 'Oxanium', cursive;
    font-size: 24px;
    color: var(--white-txt);
}
.bid-btn {
    width: 431px;
    height: 78px;   
    cursor: pointer;
    border: 1px solid #FDE8B3;
    background: rgba(233, 215, 167, 0.10);

    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.2px;
    letter-spacing: 147%;
    color: #fff;
}
.auctions-btn{
    text-align: center;
}
.btn-tr2{
    cursor: pointer;
    background: transparent;
    margin-top: 84px;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    color: var(--white-txt);
    font-weight: 500;
    letter-spacing: 1.5px;

    border: 1px solid var(--Primary-color, #FFCE4E);
    padding: 24px 64px;
}
/*******************************************************************/

.hworks {
    margin-top: 185px;
    margin-bottom: 174px;
    display: flex;
    justify-content: center;
}
.hworks-elements {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 90px;
}
.hworks-verline{
    display: none;
}
.hworks-elem__icon {
    width: 106px;
    height: 106px;
    border: 1px solid #372839;
    background-color: #372839;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: -40px 57px;
}
.hworks-elem__img{
    box-sizing: border-box;
}
.hworks-elem__subtitle {
    margin-top: 64px;
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--orange);
    text-align: center;
}
/*********************POPPPPULLLLLARRRR******************/
.popular {
    margin-bottom: 100px;
}
.circle-rose{
    background: #E03054;
    position: absolute;
    right: 50%;
    margin-right: 260px;
    border-radius: 100%;
    height: 110px;
    width: 110px;

    transform: translateX(30%) translateY(0);
}
.popular-title {
    position: relative;
}

.popular-elements {
    display: flex;
    overflow: hidden;
    position: relative;
}
.arr-right{
    position: absolute;
    right: 0;
    top: 40%;
}
.popular-element {
    margin-right: 36px;
    width: 525px;
    height: 475px;
    background-color: #3D2942;

    padding: 36px;
    box-sizing: border-box;
}
.popular-element__info {
    display: flex;
    margin-top: 24px;
    margin-bottom: 36px;
    justify-content: space-between;
}
.popular__info-avatar {
    display: flex;
    align-items: center;
}
.popular__info-avatar img{
    margin-right: 16px;
}
.popular__info-nick {
    color: var(--white-txt);
    font-size: 32px;
    line-height: 112.5%;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
}
.popular__info-num {
    color: #C2B5C6;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 177%;
    display: flex;
    align-items: center; 
}
/********EEEEEXXXXPPLLORRRE*****************/
.explore {
    padding-top: 80px;
    padding-bottom: 80px;
    background: #251928;
}
.explore-circle {
    margin-right: 291px;
}
.popular-title {
    padding-bottom: 84px;
}
.explore-slider-elem{
    overflow: hidden;
}
.explore-img__img{
    display: block;
	position: relative;
}
.explore-img img {
    width: 351px;
    height: 306px;
}
.explore-img__img::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.4s ease;
}
.explore-img__img::after{
    width: 351px;
    height: 306px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .65);
    opacity: 0;
    transition: opacity 0.4s linear;
}
.explore-img__img:hover:before,
.explore-img__img:hover:after {
    opacity: 0.65;
}
.explore-bid{
    width: 415px;
    height: 550px;
    box-sizing: border-box;
}
/*********************RAAAATTTTING************************************/
.rating {
    margin-top: 104px;
    margin-bottom: 80px;
}
.circle-rating {
    margin-right: 155px;
    z-index: -1;
}
.rating-elements{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 84px;
}
.rating-elem {
    display: flex;
    justify-content: space-between;
    max-width: 608px;
    height: 156px;
    background: #302034;
    box-shadow: 2px 0px 0px 0px #E03054 inset;
    box-sizing: border-box;

    padding: 26px 29px;
}
.rating-elem-img{
    width: 104px;
    height: 104px;
    border-radius: 100%;
}
.rating-elem-info{
    display: flex;
}
.rating-elem-names {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rating-elem-info__nickname {
    color: var(--white-txt);
    font-family: 'Oxanium', cursive;
    font-size: 32px;
    font-weight: 600;
    line-height: 111%;
    letter-spacing: 1.6px;
}
.rating-elem-info__price {
    color: #BDAAC1;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin-top: 8px;
}
.rating-elem__line {
    width: 3px;
    height: 100px;
    background: #49374E;
    margin: 0 15px;
}
.rating-elem-counts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rating-elem-number {
    font-family: 'Oxanium', cursive;
    font-weight: 700;
    font-size: 32px;
    color: var(--white-txt);
    line-height: 111%;
    letter-spacing: 1.6px;

    margin-bottom: 6px;
}
.rating-elem-items {
    font-family: 'Work Sans', sans-serif;
    color: #908294;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
}
/*****************DDDRRROPPP*****************************/
.drop {
    background-image: url('../img/bg-pattern.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; 
    padding-bottom: 117px;
}
.drop-title {
    margin: 0 0 0 0;
    padding: 117px 0 0 0;
    color: var(--white-txt);
    text-align: center;
    font-family: 'Oxanium', cursive;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
}
.drop-form{
    text-align: center;
    margin-top: 24px;
}
.drop-input {
    padding: 30px 50px 30px 53px;
    background: transparent;
    border: 1px solid #E7B226;

    color: #A48EA9;
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    box-sizing: border-box;
}
.drop-btn {
    margin-left: -7px;
    cursor: pointer;
    background: #E7B226;
    font-family: 'Work Sans', sans-serif;
    color: #251928;
    font-size: 24px;
    font-weight: 700;
    padding: 32px 60px;
}
/*********FFFFOOOTER******************************************/
.footer-container {
    padding-top: 110px;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr 0.5fr;
    column-gap: 20px;
    row-gap: 50px;
}
.footer-logo img{
    width: 194px;
    height: 194px;
    margin-right: 50px;
}
.footer-info {
    color: #96839B;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
}
.footer-info > * {
    row-gap: 20px;
}
.footer-info-social {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.footer-info-social a > * {
    margin-right: 30px;
    cursor: pointer;
    transition: 0.5s ease;
}
.footer-info-social a > *:hover{
    transform: rotate(-10deg) scale(1.5);
}
.footer-rights{
    font-weight: 400;
}
.footer-about {
    display: flex;
    flex-direction: column;
    color: #96839B;
    font-size: 20px;
    font-weight: 500;
    line-height: 252%;
}
.footer-title{
    color: var(--white-txt);
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 148%;
}
.footer-about a,
.footer-support a{
    color: #96839B;
    position: relative;
    transition: color 0.5s ease;
}
.footer a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background-color: var(--white-txt);
    bottom: 0;
    left: 0;
    transition: width 0.5s ease-in-out;
    
    border-bottom: var(--white-txt) 1px solid;
}
.footer a:hover{
    color: var(--white-txt);
}
.footer a:hover::after{
    width: 140px;
}
.footer-support {
    display: flex;
    flex-direction: column;
    color: #96839B;
    font-size: 20px;
    font-weight: 500;
    line-height: 252%;
}
@media (max-width: 1444px){
    .hworks-elem:last-child{
        margin-top: 100px;
    }
}
@media (max-width: 1233px){
    .hworks-line1{
        margin-top: 80px;
    }
}
@media (max-width: 1244px){
    .hworks-elem:last-child{
        margin-top: 70px;
    }
}
@media (max-width:1202px){
    .hero-card-header{
    width: 512px;
    height: 98px;
    }
    .hero-card-img{
        max-width: 450px;
    }
    .hero-card-footer{
    width: 450px;
    height: 142px;
    }
    .card-footer-elem{
        margin: 0 20px;
    }
    .card-footer__btn{
        margin-right: 0;
        padding: 20px 20px
    }
    .hero-card-header{
        width: 410px;
        margin: 24px 80px;
    }
    .hero-info__title{
        font-size: 80px;
    }
}
@media (max-width: 1078px){
    .hworks-elem:nth-child(7) {
        margin-top: 70px;
    }
}
@media (max-width: 1065px){
    .hero-card{
        margin-top: -100px;
    }
    .clients-container > *:last-child{
        margin-top: 30px;
    }
    .hworks-elem:nth-child(8){
        margin-top: 70px;
    }
    .hworks-line1{
        margin-top: 70px;
    }
    .hero-card-header{
        width: 300px;
        margin: -70px 80px;
    }
    .hero-card-img{
        width: 340px;
        height: 517px;
        margin-top: -20%;
    }
    .hero-card-footer{
        width: 340px;
        height: 142px;
    }
    .card-footer-elem{
        margin: 0 20px;
    }
    .card-footer__btn{
        margin-right: 0;
        padding: 20px 20px;
    }
    .hero-card-header > * {
        margin: 18px 15px 0;
    }
}
@media (max-width: 974px){
    .hero-buttons > *{
        width: 200px;
    }
}
@media (max-width: 916px){
    .rating-elem{
    padding: 26px 15px;
    }
    .footer-logo img{
        width: 104px;
        height: 104px;
        margin-right: 10px;
    }
}
@media (max-width: 862px){
    .clients,
    .hworks{
        margin-top: 50px;
    }
    .clients{
        margin-bottom: 50px;
    }
    .auctions{
        padding: 60px 0;
        margin-top: 0px;
        background-color: #251928;
        
    }
    .hworks-elements{
        position: relative;
    }
    .iii{
        position: absolute;
        bottom: 30%;
        left: 100%;
        width: 125px;
        height: 430px;
        background: rgba(213, 61, 92, 0.80);
        filter: blur(225px);
    }
    .header-container{
        margin-bottom: 12px;
        background-color: #1C121F;
    }
    .hworks-elem:nth-child(8) {
        margin-top: 0px;
    }
    .title{
        font-size: 36px;
    }
    .nav-link{
        margin-right: 34px;
    }
    .circle-rose{
        background: #E03054;
        position: absolute;
        right: 33%;
        height: 84px;
        width: 84px;
        transform: translateX(33%) translateY(-7%);
    }
    .circle{
        position: absolute;
        right: 39%;
        height: 84px;
        width: 84px;
        transform: translateX(39%) translateY(-6%);
    }
    .footer-info{
        margin-right: 20px;
    }
    .rating-elements{
        gap: 40px;
    }
    .hero-counts > *{
        margin-right: 25px;
    }
    .hero-container{
        flex-direction: column;
    }
    .hero{
        margin-top: 0px;
        background-image: url(../img/pattern-mobile.jpg);
        background-size: cover;
        padding-bottom: 40px;
    }
    .hero-card{
        margin: 150px 0 0 0;
    }
    .hero-info{
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-info__title{
        text-align: center;
        margin-right: 0;
    }
    .hero-card > * {
        margin-left: 0px;
    }
    .hero-card-header{
        width: 370px;
        margin: -70px 15px;
    }
    .hero-card-img{
        width: 100%;
        margin-top: -20%;
    }
    .hero-card-footer{
        width: 100%;
        height: 142px;
        z-index: 102;
    }
    .clients-container > *:last-child {
        margin-top: 0px;
    }
    .clients-container {
        justify-content: space-between;
        margin: 0 2rem;
    }
    .clients-container > *:nth-child(3),
    .clients-container > *:nth-child(4) {
        margin-top: 2rem;
    }
    .clients-container >*{
        margin: 0;
    }
    .bid-slider{
        display: none;
    }
    .bid-slider-elem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bid-slider-elem > * {
        margin-bottom: 40px;
    }
    .hworks{
        margin-bottom: 76px;
    }
    .hworks-elements{
        display: flex;
        flex-direction: column;
        margin-top: 52px;
    }
    .hworks-elem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hworks-line{
        display: none;
    }
    .hworks-verline{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 24px 0;
    }
    .hworks-elem__icon{
        margin: 0 0;
    }
    .hworks-elem__subtitle {
        margin-top: 24px;
    }
    .hworks-elem:last-child {
        margin-top: 0px;
    }
    .hworks-elem:nth-child(7) {
        margin-top: 0px;
    }
    h4{
        margin: 32px 0 52px 0;
    }
    .popular-title {
        padding-bottom: 0px;
    }
    .arr-right{
        display: none;
    }
    .popular-elements{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .popular-element {
        margin-right: 0px;
        margin-bottom: 24px;
    }

    .explore-circle {
        margin-right: 250px;
    }
    .circle-rating {
        margin-right: 230px;
    }
    .rating{
        margin-bottom: 56px;
    }
    .rating-elements {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .rating-elem-names {
        margin-left: 12px;
    }
    .rating-elem {
        padding: 26px 25px;
    }
    .drop{
        padding-bottom: 74px;
    }
    .drop-input{
        width: 90%;
        margin: 0 15px;
    }
    .drop-btn{
        margin-top: 32px;
        padding: 15px 35px;
    }
    .bid-slider-elem > * {
        margin-left: 0px;
    }
    .explore-img__img::after{
        width: 295px;
        height: 318px;
    }
    .bid-auctions,
    .explore-bid{
        background-color: #3D2942;
        width: 343px;
        padding: 24px 24px;
    }
    .bid-auctions {
        height: 560px;
    }
    .explore-bid{
        height: 405px;
    }
    .author__info-name{
        font-size: 18px;
    }
    .bid-img img{
        max-width: 343px;
        min-width: 295px;
        height: 318px;
    }
    .bid-price__name{
        font-size: 20px;
    }
    .author__info-creator{
        font-size: 14px;
        margin-top: 4px;
    }
    .bid-likes__count{
        font-size: 24px;
    }
    .bid-price{
        align-items: center;
    }
    .bid-button{
        display: flex;
        justify-content: center;
    }
    .bid-btn{
        width: 271px;
        height: 54px;
    }
}
@media (max-width: 675px){
    .nav-link,
    .wallet{
        display: none;
    }
    .nav-burger{
        display: block;
    }
    .clients-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 10px;
    }
    .explore-bid {
        height: 510px;
    }

    .footer-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .footer-logo{
        grid-column: 1/3;
        text-align: center;
    }
    .footer-info{
        grid-column: 1/3;
        text-align: center;
    }
    .footer-info-social {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-info-social a:last-child{
        margin-right: 0px;
    }
    .footer-about,
    .footer-support{
        margin: 0 12px;
    }
}
@media (max-width: 565px){
    .clients-container > *{
        max-width: 70%;
    }
    .blockch {
        max-width: 70%;
    }
    .hero-info__title{
        font-size: 62px;
    }
    .hero-counts{
        margin:  90px 0 0 0;
    }
    .hero-counts > *{
        margin-right: 40px;
    }
    .count-num{
        font-size: 32px;
    }
    .count-txt{
        font-size: 16px;
    }
    .popular-element {
        width: 343px;
        height: 277px;
        background-color: #3D2942;
        padding: 20px;
        box-sizing: border-box;
    }
    .popular-element img{
        max-width: 303px;
        max-height: 177px;
    }
    .popular-element__info {
        display: flex;
        margin-top: 16px;
        margin-bottom: 21px;
    }
    .popular__info-avatar img{
        height: 42px;
        width: 42px;
    }
    .popular__info-nick{
        font-size: 20px;
        margin: 0;
    }
    .popular__info-num p{
        font-size: 16px;
        margin: 0;
    }
    .explore-circle{
        position: absolute;
        right: 30%;
        transform: translateX(30%) translateY(-6%);
    }
    .iii {
        left: 30%;
    }
    .circle-rose {
        right: 18%;
    }
    .hero-buttons > * {
        width: 155px;
    }
    .hero-card-header {
        width: 280px;
        margin: -48px 15px;
    }
    .card-header__title{
        font-size: 16px;
    }
    .card-header__price{
        font-size: 22px;
    }
}

@media (max-width: 380px){
    .clients-container{
        margin: 0 0;
    }
    .hero-buttons{
        gap: 20px;
    }
    .hero-buttons > * {
        font-size: 18px;
        height: 54px;
        width: 135px;
    }
    .card-footer-elem{
        margin: 0 10px;
    }
    .bid-auctions{
        background-color: #3D2942;
        width: 300px;
        height: 460px;
        padding: 20px 20px 0 20px;
    }
    .bid-img img {
        min-width: 300px;
        max-width: 0px;
        height: 210px;
    }
    .explore-bid {
        background-color: #3D2942;
        width: 300px;
        height: 460px;
        padding: 20px 20px 0 20px;
    }
    .explore-img__img img {
        max-width: 260px;
        height: 220px;
    }
    .bid-timer {
        position: absolute;
        bottom: 4px;
        font-size: 18px;
        font-family: 'Work Sans', sans-serif;
        text-align: center;
        padding: 11px 36px;
    }
    .explore-img__img::after {
        width: 210px;
        height: 214px;
    }
    .rating-elem{
        align-items: center;
        height: 102px;
    }
    .rating-elem-img{
        height: 48px;
        width: 48px;
    }
    .rating-elem-info__nickname{
        font-size: 20px;
    }
    .rating-elem-info__price{
        font-size: 14px;
    }
    .rating-elem-number{
        font-size: 24px;
    }
    .rating-elem-items{
        font-size: 16px;
    }
    .drop-title{
        font-size: 36px;
    }
    .bid-author__info {
        grid-template-columns: 50px 1fr 1fr;
    }
    .bid-likes img{
        width: 24px;
        height: 22px;
    }
    .bid-avatar{
        width: 42px;
        height: 42px;
    }
    .footer-info{
        margin: 0 10px;
    }
    .google a{
        margin-right: -50px;
    }
    .btn-tr2 {
        padding: 13px 57px;
    }
}
